<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693178709378-5fufqeo67ga27u15n0heeiq6en9tedlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693178709378-5fufqeo67ga27u15n0heeiq6en9tedlm</string>
	<key>API_KEY</key>
	<string>AIzaSyCyv8Y2fXngsc0zPl71mospostxXPwoVNI</string>
	<key>GCM_SENDER_ID</key>
	<string>693178709378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.quizziz</string>
	<key>PROJECT_ID</key>
	<string>gettoknowusdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>gettoknowusdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693178709378:ios:966b753d75737b865f4b9b</string>
	<key>DATABASE_URL</key>
	<string>https://gettoknowusdatabase-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>